*{margin: 0;padding: 0;}
#banner{ 
         height:100vh;
         background-image:url(../res/background.jpg);
         background-size: cover;
         background-position: centers;
         background-repeat: no-repeat;
} 