.navigation {
    width: 100%;
    height: 60px;
    background-color:white;
}

.nav-items {
    list-style: none;
    position: relative;
    bottom: 25px;
    display: inline;
    margin-left: calc(100% - 500px );
}

.nav-link {
   text-decoration:none;
   color:black;
   font-family: monospace;
   font-size: x-large;

}
#nav-img {
    height: 60px;
    width: auto;
    display: inline;
    margin: 2px 20px;
}
.nav-item {
    display: inline; 
    margin: 0 20px;
}
